* { margin: 5; padding: 5; }


    body { 
		font: 16px Helvetica, Sans-Serif; 
		line-height: 24px; 
		background: Transparent ; 
		}
        
       
    h1 { 
	color:white; 
	}
	
	
    h2 { 
		font-size: 20px; 
		margin:6px; 
		position: relative; 
		}
       
    p { 
		margin:16px; 
		}
    
	
      
	hr {
		margin-top: 20px;
		margin-bottom: 20px;
		border: 0;
		border-top: 1px solid #eee;
		}

button {

        background-color: Transparent;
        background-repeat:no-repeat;
		border: none;
           
        }


.buttonacceuil{
  
		
		font-size: 24px;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: grey;
		background-color: transparent;
		border-radius: 12px;
}

.buttonacceuil:hover {
		background-color: orange
}

.fondpage {
		background-color: #f37749;
}

.photoacceuil {
		
		max-width: 100%;

             }
 
 
 
 
 #conteneur
{ 
		justify-content: space-between;
		display: flex;
		border: 2px solid #444;
		flex-wrap: wrap;
}

.element
{ 
		width: auto;
		height: auto;
}

.element:nth-child(1)
{ 
		margin-left: auto;
		margin-right: auto;
    
}

.element:nth-child(2)
{ 
		font-family: verdana,sans-serif;
		color: #FFFFFF;
		font-size: 23px;
		letter-spacing: 3.4pt;
		word-spacing: 9pt;
		line-height: 2.2;
}
.elementstatus
{ 
		font-family: verdana,sans-serif;
		font-size: 16px;
		color: #FFFFFF;
}
.buttonsuivant {
		border:none;
		padding:6px 0 6px 0;
		border-radius:8px;
		background:#f37749;
		font:bold 50px Arial;
		color:white;
		text-decoration: none;
	
}
.buttonsuivant:hover {
		background-color: orange
	}




#menu-deroulant {
/* on centre le menu dans la page */
		text-align: center;
}
#menu-deroulant li {
/* on place les liens du menu horizontalement */
		display: inline-block;
}


#menu-deroulant ul {
		position: absolute;													/* on cache les sous menus complètement sur la gauche */
		left: -999em;
		text-align: left;
		z-index: 1000;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
		left: auto;
}
.buttonderoulant{
  
		
		font-size: 24px;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: grey;
		background-color: white;
		border-radius: 12px;
}
.buttonderoulant:hover {
		background-color: orange
	}
	
.pdf {
		color: grey;
		text-decoration: none;
}

#footer {
    background-color:white;
    color:#f37749;
    clear:both;
    text-align:center;
   padding:5px;	 }

 #conteneur1
{ 
	justify-content: space-around;
		display: flex;
		
		flex-wrap: wrap;
}

.element
{ 
		width: auto;
		height: auto;
}

.element:nth-child(1)
{ 
		margin-left: auto;
		margin-right: auto;
    
}

.element:nth-child(2)
{ 
		margin-left: auto;
		margin-right: auto;
    
}

.element:nth-child(3)
{ 
		margin-left: auto;
		margin-right: auto;
    

}

.element:nth-child(4)
{ 
		margin-left: auto;
		margin-right: auto;
    
}

#conteneurmembres
{ 
	justify-content: space-between;
	display: flex;
	border: 2px solid #444;
	flex-wrap: wrap;
}

.elementmembres
{ 
		width: 200px;
		height: 310px;
}

.elementmembres:nth-child(1)
{ 
	font-size: 20px;
}

.elementmembres:nth-child(2)
{ 
	font-size: 20px;
}

.elementmembres:nth-child(3)
{ 
	font-size: 20px;

}

